<% if @project.companies.size >= 1 %>
  <div class="projects box">
    <h3><%= t(:label_companies_plural) %></h3>
    <p>
      <% @project.companies.each do |company| %>
        <%= link_to company.name, company %><br />
      <% end %>
    </p>
  </div>
<% end %>
